section p {
  font-size: 18px;
}
section button {
  border-style: none;
  margin-left: 5px;
  font-size: 16px;
  /* font-weight: lighter; */
  cursor: pointer;
  color: blue;
}
.Fbtn {
  font-size: 20px;
  color: darkblue;
  background-color: white;
  border-style: none;
  cursor: pointer;
}
