.App {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}
.search-result {
  text-align: center;
}
.search-result span img {
  width: 40px;
}
.search-result h3 {
  color: darkblue;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.mapform {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 auto;

  text-align: center;
}
h3 {
  text-align: center;
  color: darkblue;
  font-style: italic;
}
input[type="search"] {
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  width: 100%;
}

input[type="search"]::placeholder {
  color: #bbb;
}

.search {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.search:hover {
  opacity: 1;
}

.search:focus,
input[type="search"]:focus,
.mapform {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}
.phone-icon {
  color: red;
  font-size: 20px;
}
.search-result img {
  width: 30px;
}
.hospital-address,
.hospital-phone {
  font-size: 20px;
}
.markdown-container {
  width: 50%;
  text-align: justify;
}

textarea {
  margin-left: 50%;
}
.edit {
  margin: 0 auto;
  width: 100%;
}
.marker-textarea {
  margin-left: 50%;
  font-size: large;
}
.marker-text {
  margin-top: 10px;
  color: darkblue;
  margin-left: 43%;
  font-size: large;
}

@media screen and (max-width: 650px) {
  .marker-text {
    margin-top: 10px;
    color: darkblue;
    margin-left: 1%;
    font-size: 20px;
  }
  .marker-textarea {
    margin-left: 5%;
    font-size: large;
    text-align: center;
  }
  .markdown-container textarea {
    margin-left: 70px;
  }
  textarea {
    margin-left: 5%;
  }
}
.mail-btn {
  margin-right: 30px;
  background-color: darkblue;
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 3px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.mail-btn:hover {
  background-color: #200462;
}
